<div class="tabs is-small">
    <ul>
        <li class="is-active">
            <a>
                <span class="icon is-small"><i class="fa fa-folder" aria-hidden="true"></i></span>
                <span>History</span>
            </a>
        </li>
        <!-- li>
                    <a>
                        <span class="icon is-small"><i class="fa fa-newspaper"></i></span>
                        <span>Folders</span>
                    </a>
                </li -->
    </ul>
</div>
<div class="container" style="padding-left: 10px; padding-right:10px;">
    <div id="historyContainer">
        <button type="button" class="button is-danger is-light is-fullwidth js-modal-trigger"
            data-target="clearHistoryAlert">
            clear history
        </button>
        <div id="historyWrapper">
            <div id="history" class="list has-hoverable-list-items has-visible-pointer-controls">
            </div>
        </div>
    </div>
    <div id="savedRequestContainer">

    </div>
</div>