<div class="section">
    <div id="alertbar" class="col">
    </div>
    <div id="tableView">
        <h4 class="title">Projects</h4>
        <table id="projectList" class="table is-hoverable is-fullwidth">
            <thead class="project-list-view">
                <tr>
                    <th>View</th>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Config</th>
                    <th>Browser</th>
                    <th>Execute</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="projectsView">

            </tbody>
        </table>
    </div>
</div>
<div id="main-footer" class="section">

</div>