<div class="section">
    <div id="alertbar" class="col">
    </div>

    <div id="tableView">
        <h4 class="title">View Results</h4>
        <table id="resultsList" class="table is-hoverable is-fullwidth">
            <thead class="text-success">
                <tr>
                    <th>Sl</th>
                    <th>Project Name</th>
                    <th>Url</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Passed</th>
                    <th>Failed</th>
                    <th>Skipped</th>
                </tr>
            </thead>
            <tbody id="resultsView">

            </tbody>
        </table>
    </div>
</div>
<div id="main-footer" class="section">

</div>