<div class="section">
    <div class="panel" style="box-shadow:none">
        <ul id="menu">
            <div class="panel-heading" style="padding-left:0px">Explorer</div>
            <block id="explorer">
                <li class="panel-block mark-active" style="border-top: 1px dotted grey;">
                    <a class="nav-link" id="config-tab" href="#config">Config</a>
                </li>
                <li class="panel-block" style="border-top: 1px dotted grey">
                    <a class="nav-link" id="data-repo-tab" href="#data-repo">Data Repository</a>
                </li>
                <li class="panel-block" style="border-top: 1px dotted grey">
                    <a class="nav-link" id="locator-repo-tab" href="#locator-repo">Locator
                        Repository</a>
                </li>
                <li class="panel-block" style="border-top: 1px dotted grey">
                    <a class="nav-link" id="api-repo-tab" href="#api-repo">API
                        Repository</a>
                </li>
            </block>
            <div class="panel-heading level" style="padding-left:0px;padding-top:20px">
                <span class="level-left">Flows</span>
                <span class="level-right" style="text-align: right;">
                    <a class="nav-link" id="new-flow-tab" href="#flowEditorContainer"><i
                            class="fa fa-plus"></i></a>
                </span>
            </div>
            <block id="flowList">

            </block>
        </ul>
    </div>
    </div>
        <button id="create-project-button" onclick="createProject()"
            class="button is-outlined create-new-project-btn" style="bottom:1px; position: absolute;width:25vw; border-radius:0px; border-left-color:transparent; border-right-color:transparent;background-color:transparent;padding:0px;"><i id="buttonLoader"></i>
            Save Project
        </button>
    </div>
</div>