html {
  scroll-behavior: smooth;
  overflow: hidden;
}

.scrollable {
  height: 100vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.sticky {
  position: fixed;
}

.toggle-switch {
  background: #ccc;
  width: 40px;
  height: 20px;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.toggle-switch:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #3498db;
  margin-left: -3px;
  transition: all 0.1s ease-in-out;
}
.active .toggle-switch:after {
  margin-left: 20px;
}
.toggle-label {
  display: inline-block;
  line-height: 20px;
}
.toggle-label-off {
  color: #000;
}
.active .toggle-label-off {
  color: #fff;
}
.active .toggle-label-on {
  color: #000;
}

option {
  color: #ccc;
  border-radius: 40px;
  background-color: #000;
  border: 1px solid #fff;
}

.white-content option {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.wraptext {
  white-space: nowrap;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-hover a:hover {
  background-color: transparent;
}
